input[type=file]::file-selector-button {
    border: 2px solid #929292;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #eeeeee;
    transition: 1s;
}

input[type=file]::file-selector-button:hover {
    background-color: #cccccc;
    border: 2px solid #929292;
}

.center {
    display:flex;
    justify-content: center;
}

form {
    border: 1px solid black;
    padding: 20px;
    display:flex;
    flex-direction: column;
    max-width: 15%;
}